/*------------------------------Title-------------------------------------*/
@font-face {
    font-family: Simpsonfont;
    src: url(../font/Simpsonfont.ttf);
}

#title {
    font-family: Simpsonfont;
    color: yellow;
    font-size: 7.5em;
}

/*------------------------------Start Button-------------------------------------*/
#start {
    font-family: Simpsonfont;
    color: yellow;
    font-size: 2em;
    background-color: #5bc0de;
    margin-right: 15px;
    bottom: 20em;
    left: 20em;
    float: left;
}

#start:hover {
    background-color: #2e6da4;
}

#buttons {
    margin-left: 225px;
    margin-bottom: 10px;
}

/*------------------------------Level Counter-------------------------------------*/
#level {
    font-family: Simpsonfont;
    color: yellow;
    font-size: 3em;
}

/*--------------------Keyframes Styling from Background----------------------------*/
@keyframes bgColor {
    0% {
        fill: #E1B5D4;
    }
    100% {
        fill: #E5568E;
    }
}

@keyframes bgColorReversed {
    0% {
        background-color: #E5568E;
    }
    100% {
        background-color: #E1B5D4;
    }
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes speechAni {
    to {
        fill: #EA191D;
        stroke: #000000;
    }
}

@keyframes slogan {
    to {
        fill: #239AD5;
        stroke: #000000;
    }
}

@keyframes slogan2 {
    to {
        fill: #ED91B6;
        stroke: #000000;
    }
}

@keyframes slogan3 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    31% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes text1 {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    81% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes text2 {
    0% {
        opacity: 0;
    }
    87% {
        opacity: 0;
    }
    88% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes text3 {
    0% {
        opacity: 0;
    }
    95% {
        opacity: 0;
    }
    96% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes eyeRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*------------------------------Background CSS-------------------------------------*/
.bg-color-change {
    animation: bgColor 0.3s alternate linear infinite;
}

.body-color-change {
    animation: bgColorReversed 0.3s alternate linear infinite;
}

body {
    background-color: #ED91B6;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

.container, .background {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    background-color: #ED91B6;
    position: relative;
}

/* Homer line drawing */
.homer, .speechbubble, .slogan, .textcontainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.homer.color-me-in #collar1, .homer.color-me-in #collar2, .homer.color-me-in #tooth1, .homer.color-me-in #eye1, .homer.color-me-in #eye2 {
    fill: white;
}

.homer.color-me-in #pupil1, .homer.color-me-in #pupil2 {
    fill: black;
    transform: rotate(30deg);
    transform-origin: center;
    animation: eyeRotate 0.2s 3s infinite;
}

.homer.color-me-in #headoutline {
    fill: #FBE776;
}

.homer.color-me-in #mouth {
    fill: #FFDFB8;
}

.draw {
    stroke-dasharray: 2400;
    stroke-dashoffset: 2400;
    animation: dash 3s forwards;
}

/*------------------------------Speech Bubble-------------------------------------*/
.speech {
    -webkit-animation: speechAni 0.5s 1s forwards;
    animation: speechAni 0.5s 1s forwards;
}

.slogan {
    -webkit-animation: slogan 2s 1.5s forwards;
    animation: slogan 2s 1.5s forwards;
}

.slogan2 {
    -webkit-animation: slogan2 2s 1.5s forwards;
    animation: slogan2 2s 1.5s forwards;
}

.slogan3 {
    opacity: 0;
    -webkit-animation: slogan3 2s 1.5s forwards;
    animation: slogan3 2s 1.5s forwards;
}

/*------------------------------Simon Box-------------------------------------*/
#simon_background {
    background-color: darkgray;
    height: 625px;
    width: 625px;
    opacity: 0.5;
    margin-left: 50px;
}

/*------------------------------Squares-------------------------------------*/

.square {
    height: 300px;
    width: 300px;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.square > img {
    position: absolute;
    top: 50%;
    min-height: 100%;
    display: block;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.homer-square {
    bottom: 43.75em;
    background-color: green;
    left: 4.5em;
}

.homer-square:hover {
    background-color: #2b542c;
}

.marge-square {
    bottom: 43.75em;
    left: 4.5em;
    background-color: red;
}

.marge-square:hover {
    background-color: darkred;
}

.lisa-square {
    bottom: 22em;
    right: 39em;
    background-color: yellow;
}

.lisa-square:hover {
    background-color: gold;
}

.bart-square {
    bottom: 22em;
    right: 39em;
    background-color: blue;
}

.bart-square:hover {
    background-color: darkblue;
}

/*------------------------------Game Over Modal-------------------------------------*/
#dialog {
    position: absolute;
}
